@charset "UTF-8";
/* CSS Document */

.header-nav,.fa-external-link-alt,#mobile-none,.wave-box,.wave-box2 {
    display: none;
    font-size: 0;
}

.header-Bg {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.wave-mobible-box {
    transform: translate(-50%,-50%);
    width: 700px;
    height: 700px;
    position: absolute;
    left: 50%;
    top: 120px;
}

.wave-mobible-box2 {
    transform: translate(-50%,-50%);
    width: 700px;
    height: 700px;
    position: absolute;
    left: 50%;
    bottom: -930px;
}

.wave3 {
    position: absolute;
    background: #0af;
    opacity: 0.4;
    width: 700px;
    height: 700px;
    border-radius: 43%;
    animation: drift 5000ms infinite linear;
}

.wave4 {
    position: absolute;
    background: #0af;
    opacity: 0.4;
    width: 700px;
    height: 700px;
    border-radius: 43%;
    animation: drift 5000ms infinite linear;
}


.six {
    animation: drift 7000ms infinite linear;
}

.five {
    width: 700px;
    height: 700px;
    background: yellow;
    opacity: 0.1;
    animation: drift 9000ms infinite linear;
}


.Works-page {
    padding-top: 50px;
}

h1,.subTitle,.subTitle-p {
    width: 90%;
    text-align: left;
    margin-left: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}

.mobile-menu-toggle {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.mobile-slide {
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.9);
    z-index: 2;
    display: none;
}

.menu-Link {
    text-decoration: none;
    width: 100%;
}

.nav-box {
    width: 100%;
    height: 400px;
    margin: 0;
}

ul {
    margin: 0;
    text-align: left;
    padding: 0;
    width: 100%;
}

.nav-list {
    padding-left: 30px;
    text-align: left;
    color: #A3D4FB; 
    display: block;
    width: 100%;
    line-height: 79px;
    border-bottom: solid 1px #A3D4FB;
}

.nav-list:active {
    background: rgba(1,1,1,.2);
    color: white;
}

.mobile-fixed-header {
    display: block;
    color: #A3D4FB;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 0 1px 40px rgba(53, 47, 47, 0.1);
}
.mobile-left {
    font-size: 20px;
    font-family: "Futura";
    letter-spacing: .1em;
    margin-left: 30px;
    line-height: 60px;
}

.mobile-right {
    float: right;
    margin-right: 30px;
    margin-top: -40px;
}

.title {
    position: relative;
    width: 80%;
    height: 140px;
    margin: 0 auto;
}

.header-Bg {
    height: 500px;
}

.wave-box {
    top: -2400px;
}

.main-wrapper {
    margin-top: 50px;
    border-radius: 50px;
}

.work-visual {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 0px;
}

.mokup {
    width: 140%;
}

.otherWorks-page,.About-page,.Skill-page,.Contact-page {
    margin-top: 50px;
    padding-top: 50px;
    height: auto;
}

.batu-btn {
    top: 30px;
    right: 30px;
}

.full-img {
    width: 100%;
    padding-bottom: 50px;
}

.works-text-box  {
    padding-left: 0;
    padding-bottom: 30px;
    margin: 0 auto;
}
.modal-box {
    top: 83%;
}

.modal-box h3 {
    width: 100%;
}

.modal-box p {
    width: 100%;
}

.subTitle2 {
    height: 100px;
}

.subTitle2 h1 {
    padding-left: 20px;
    text-align: left;
    line-height: 50px;
}


.subTitle-p2 {
    text-align: left;
    padding-left: 40px;
    margin: 0 auto;
}

.other-boxLeft {
    width: 100%;
    height: auto;
}

.other-boxRight {
    width: 100%;
    height: auto;    
}

.mokup-port {
    width: 100%;
}

.menu {
    flex-wrap: wrap;
}

.menu-card {
    width: 40%;
    height: 40%;
    margin: 0 auto;
    padding-bottom: 20px;
}

iframe {
   padding-top: 10px;   
   width: 300px;
   height: 200px;
}


.Skill-ex {
    flex-direction: column;
}

.Skill-exImg {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
}
.fa-code, .fa-camera, .fa-headphones-alt {
    font-size: 80px;
}

.Slill-apps {
    width: 100%;
    height: auto;
    padding-top: 0px;
    margin: 0 auto;
    flex-direction: column;
}

.Skill-appImg {
    width: 85%;
    height: 100px;
    display: flex;
    margin: 0 auto;
}

.appLeft {

    padding-left: 0;
}